:root {
  --primary: rgb(115, 117, 133);
  --green: rgb(1, 216, 1);
  --dark: rgb(27, 23, 23);
}

/* #region: navBar */
.navBarWantedText {
  color: rgb(230, 224, 224);
  font-size: 1.5rem;
}

.navbar {
  /* height: 6rem; */
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
}


.nav-logo {
  max-width: 4rem;
  max-height: 4rem;
  object-fit: contain;
}

/* #endregion: navBar */

#main {
  margin-top: 3rem;
}

.shackles-quote {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--green);
  font-family: 'Aboreto', cursive;
}

/* #region: form stuff */
form {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

#name {
  width: 100%;
}

#familyCrest {
  width: 100%;
}

#post {
  width: 100%;
}

#ext {
  width: 100%;
}

#message {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

/* #endregion */

.card {
  width: 17rem;
  height: 14rem;
  left: 53rem;
  bottom: 35rem;
  background: transparent;
  border: transparent;
}

.CARD {
  font-family: 'Roboto', sans-serif;
  color: var(--dark);
}